:root{
    --vermelho: #E50914;
    --preta: #141414;
}

* {margin: 0; padding: 0%; box-sizing: border-box;} /* RESET CSS */

/* ELEMENTOS BASE */
body {
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: "Arial Black";
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #FFF;
}

/* FILME PRINCIPAL */
.filme-principal {
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("https://www.themoviedb.org/t/p/original/wbiPjTWpZMIB8ffBq7HvzAph4Ft.jpg");

    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botoes {
    margin-left: 30px;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 5px;
}

.container{ 
    margin-left: 30px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

#movies{
    background: rgb(20,20,20);
background: linear-gradient(180deg, rgba(20,20,20,0.9416141456582633) 0%, rgba(20,20,20,0.9416141456582633) 0%, rgba(0,0,0,1) 19%);
}

.carousel-filmes {
    margin-top: 25px;
}

.article-title {
    margin-left: 30px;
    margin-bottom: 5px;
    font-weight: 600;
}
